@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,100&display=swap');
body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.main-bg{
    background: url('https://images.news18.com/ibnlive/uploads/2022/03/kgf-2-164629775016x9.jpg');
    background-size: cover;
    background-position: 20% 80%;
    padding-bottom:  9em;
}
.aa{
    padding:  1em 1em 1em 3em;
    text-decoration: none;
    color: gold;
}
.helo{
    padding-left: 2em;

}
h2{
    padding-left: 1em;
    text-decoration: underline;
    color: aliceblue;
}
.nam{
    display: block;
    color:gold;
    
    padding-top: 2em;
}
.pp{
    color: aliceblue;
    padding-left: 2em;
}
.h{
    color: gold;
    font-weight: bolder;
    
    
}
.form{
    background-color: aliceblue;
    
    padding-left: 2em;
    opacity: 0.9;
    padding: 2em;
    margin-top: 4em;
}